@mixin display($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  .container {
    min-width: 100%;
  }
}
header {
  background: whitesmoke;
  @include display(space-between, center);
  max-height: 10vh;
  .logo-container {
    //max-height: 80%;
    margin: 25px 25px 25px 25px;
    img {
      max-height: 70px;
    }
  }
  .slogan {
    max-height: 10vh;
    text-align: right;
    background-color: #ff8181;
    cursor: pointer;
    padding: 10px;
    margin: 25px 25px 25px 25px;
    background: linear-gradient(
        45deg,
        #f7f3ed,
        #a2befd,
        #ff8181,
        #f9c17b,
        #fba5a7,
        #f7f3ed
      )
      0 0 / 300% 100%;
    color: transparent;
    background-repeat: repeat;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      animation: move-bg 4s linear infinite;
    }
    @media (prefers-reduced-motion: no-preference) {
      @keyframes move-bg {
        to {
          background-position: 300% 0;
        }
      }
    }
  }
}

.content {
  margin-top: 0;
  overflow: auto;
  width: 100%;
  flex: 1 1 auto;

  img {
    float: left;
    margin-right: 10px;
    width: 60%;
  }

  p {
    text-align: left;
    margin: 30px;
    max-width: 90%;
  }

  h1 {
    font-size: 40px;
    max-width: 100%;
    margin: 5% 30px 0px 30px;
    text-align: left;
  }
}
.advantages {
  text-align: center;
  display: flex;
  flex-basis: 100%;
  article {
    @include display(center, center);
    button {
      display: inline-flex;
      justify-content: center;
      cursor: pointer;
      background-color: red;
      color: white;
      font-weight: bold;
      font-size: 22px;
      border: 20px none;
      padding: 35px;
      border-radius: 100px;
      margin: 30px;
      &:hover {
        background-color: black;
      }
    }
  }
}

footer {
  padding: 20px;
  background-color: rgb(251, 230, 230);
  font-size: 16px;
  h1 {
    color: red;
  }
  .contacts {
    .details {
      display: flex;
      align-items: center;
      img {
        margin: 10px;
        max-height: 5vh;
      }
    }
  }
}
